// Layout
.section {
	padding: 4rem 0;
}

// Type
.f-alt,
.btn {
	font-family: $font-family-monospace;
}

@each $display, $font-size in $display-font-sizes {
	.display-#{$display} {
		letter-spacing: -0.05em;
	}
}

.sub {
	font-family: $font-family-monospace;
    color: $white;
    font-weight: bold;
    display: inline-block;
    //transform: rotate(-1.5deg);
    background: $dark;
    padding: 0.2rem 0.25rem 0px;
}


// Buttons 
.btn {
	border-radius: 50rem;
	font-weight: bold;
	padding: .75rem 1.5rem .375rem 1.5rem;
}