@page "/"

<section class="section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7">
				<div class="sub">Bring dead copy to life with...</div>
			    <h1 class="fw-bold display-3 mb-4">The Ghost Storyteller</h1>
			    <h2 class="f-alt mb-4 h4">Ghostwriter and storyteller helping marketers &amp; entrepreneurs sell their sh*t with word wizardry.</h2>
			</div>
			<div class="col-lg-4">
				<picture>
					<source srcset="/images/brandflex-bubble.webp" type="image/webp">
					<source srcset="/images/brandflex-bubble.png" type="image/png"> 
					<img src="/images/brandflex-bubble.png" class="img-fluid" width="150px" height="150px" alt="The Ghost Storyteller" title="The Ghost Storyteller" loading="lazy">
				</picture>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<div class="text-center">
				    <h3 class="f-alt mb-0 h1 fw-bold">Your story, my words.</h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-lg-7">
				<div class="sub">Hey There!</div>
				<h3 class="fw-bold display-4">I'm Werner Griesel</h3>
				<p class="lead f-alt mt-4">Self-proclaimed Ghost Storyteller. User Experience (UX) Lead by day, Micro-Fiction writer by night. Educator in between and an eternal student of life, all day err day.</p>
				<p>I help entrepreneurs start making content people want to consume and create a career they’re genuinely excited about: creators, authors, writers, filmmakers, artists of all kinds, sometimes 
					have a fear of sounding like a salesperson. Let’s change that!</p>
				<p>Currently, I focus on inspiring and helping entrepreneurs, small businesses and personal brands tell their stories and leverage their audiences on social platforms.</p>
				<p>At your service to make your brand – through some epic magic* – sound cool, while getting you paid for being your self!</p>
				<p>*Epic magic includes: Copy for your website pages, sales collateral, Instagram copy, newsletter emails… basically a bit of micro and nano-copy.</p>
				<p>There is a massive black button below for a little bit more about me and what I do. Go on and give it a click.</p>
				<div class="mt-4">
					<a href="/about" class="btn btn-outline-primary">Like stories? Read more about mine</a>
				</div>
			</div>
			<div class="col-lg-4">
				
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-6 col-lg-2 text-center">
				<picture>
					<source srcset="/images/entrepreneur.png" type="image/png"> 
					<img src="/images/entrepreneur.png" class="img-fluid" width="150px" height="62px" alt="Entrepreneur" title="Entrepreneur" loading="lazy">
				</picture>
			</div>
			<div class="col-6 col-lg-2 text-center">
				<picture>
					<source srcset="/images/thrive.png" type="image/png"> 
					<img src="/images/thrive.png" class="img-fluid" width="150px" height="62px" alt="Thrive Global" title="Thrive Global" loading="lazy">
				</picture>
			</div>
			<div class="col-6 col-lg-2 text-center">
				<picture>
					<source srcset="/images/springboard.png" type="image/png"> 
					<img src="/images/springboard.png" class="img-fluid" width="150px" height="62px" alt="Springboard" title="Springboard" loading="lazy">
				</picture>
			</div>
			<div class="col-6 col-lg-2 text-center">
				<picture>
					<source srcset="/images/klopjag.png" type="image/png"> 
					<img src="/images/klopjag.png" class="img-fluid" width="150px" height="62px" alt="Klopjag" title="Klopjag" loading="lazy">
				</picture>
			</div>
			<div class="col-6 col-lg-2 text-center">
				<picture>
					<source srcset="/images/dotslash.png" type="image/png"> 
					<img src="/images/dotslash.png" class="img-fluid" width="150px" height="62px" alt="Dotslash" title="Dotslash" loading="lazy">
				</picture>
			</div>
			<div class="col-6 col-lg-2 text-center">
				<picture>
					<source srcset="/images/adobe.png" type="image/png"> 
					<img src="/images/adobe.png" class="img-fluid" width="150px" height="62px" alt="Adobe" title="Adobe" loading="lazy">
				</picture>
			</div>
		</div>
	</div>
</section>
