<div class="px-4 py-5 my-5 text-center">
	<picture>
		<source srcset="/images/brandflex-bubble.webp" type="image/webp">
		<source srcset="/images/brandflex-bubble.png" type="image/png"> 
		<img src="/images/brandflex-bubble.png" class="img-fluid" width="150px" height="150px" alt="The Ghost Storyteller" title="The Ghost Storyteller" loading="lazy">
	</picture>
	<h3 class="fw-bold">The Ghost Storyteller</h3>
	<p class="mb-4 fw-bold f-alt">Helping entrepreneurs bring dead copy to life.</p>
	<a href="/contact" class="btn btn-outline-primary">Ghostwriting for YOU</a>
</div>