<footer class="footer bg-dark fw-bold text-white py-4">
    <div class="container">
        <div class="row">
			<div class="col-12 col-lg-6 text-center text-lg-start">
				<small>&copy; @DateTime.Now.Year - Brandflex™. All right reserved.</small>
			</div>
			<div class="col-12 col-lg-6 text-center text-lg-end">
				<small><a href="/privacy-policy">Privacy Policy</a> • <a href="/terms-and-conditions">Terms of Use</a> • <a href="/cookie-policy">Cookie Policy</a></small>
			</div>
		</div>
    </div>
</footer>
