<div class="container">
	<header class="d-flex flex-wrap justify-content-center py-3 mb-5 nav-down">
		<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
			<h3 class="f-alt fw-bold mb-0">Werner Griesel.</h3>
		</a>
		
		<ul id="nav" class="list-inline f-alt fw-bold">
			<li class="list-inline-item"><NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink></li>
			<li class="list-inline-item"><NavLink class="nav-link" href="storyteller">Storyteller</NavLink></li>
			<li class="list-inline-item"><NavLink class="nav-link" href="branding">Branding</NavLink></li>
			<li class="list-inline-item"><NavLink class="nav-link" href="uxcareer">UX Career</NavLink></li>
		</ul>
	</header>
</div>


